.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
  text-decoration: none;
}

.container1{
  width: 100%;
  max-width: 82.5em;
  height: 31.25em;
  display: flex;
}

.container1 .divImg{
  position: relative;
  width: 100%;
  max-width: 31.25em;
}

.container1 .Img{
  width: auto;
  height: auto;
}

.container1 .divText{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.container1 .divText h1{
  font-size: clamp(0.8em, 1em + 1vw, 2em);
  text-align: justify;
}

.container1 .divText p{
  font-size: clamp(0.6em, 1em + 1vw, 1em);
  text-align: justify;
}

.Link{
  display: flex;
  width: 10em;
  height: 3em;
  align-items: center;
  justify-content: center;
  border-radius: 0.3em;
  background: #D1B37A;
  animation: animate 3s linear infinite;
  transition: 0.5s;
  font-size: clamp(0.7em, 1em + 1vw, 1em);
  font-weight: 600;
}
@keyframes animate{
  0%{
      background-position-x: 0;
  }
  50%{
      background-position-x: 200px;
      background: #a57c30;
  }
  100%{
    background-position-x: 0;
    background: #D1B37A;
  }
}

.container1 .price{
  text-decoration: line-through;
  font-weight: 600;
  color: #c41313;
}

.container1 .priceDiscount{
  color: #059700;
  font-weight: 600;
}

.container2{
  width: 100%;
  max-width: 100vw;
  height: 35em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 2em 0em;
  border-top: solid #D1B37A 0.2em;;
  border-bottom: solid #D1B37A 0.2em;;
}

.container3{
  width: 100%;
  max-width: 82.5em;
  height: 45em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.container3 h3{
  display: flex;
  gap: 0.5em;
  color: #a57c30;
  font-weight: 500;
  font-size: clamp(0.8em, 1em + 1vw, 1.7em);
}

.container3 h3 p{
  color: var(--text-color);
  font-weight: 500;
}


.container3 .separator{
  width: 100%;
  height: 0.5rem;
  background-color: #D1B37A;
}

.container3 span{
  width: 50%;
  text-align: justify;
}

.container4{
  width: 100%;
  max-width: 100vw;
  height: 30em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #D1B37A;
}
.container4 .inner{
  display: flex;
  width: 100%;
  height: 25em;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.container4 h4{
  font-size: clamp(0.8em, 1em + 1vw, 1.7em);
}

.container4 ul{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.container4 ul li{
  display: flex;
  width: 40em;
  height: 2.5em;
  background-color: var(--background-color);
  list-style: none;
  text-align: justify;
  align-items: center;
  padding-left: 3em;
  font-weight: 500;
  border-radius: 0.2em;
  z-index: 2;
}

.container4 .divImg{
  position: absolute;
  width: 100%;
  max-width: 25em;
  height: 100%;
  max-height: 25em;
}

.container4 .Img{
  width: auto;
  height: auto;
  position: relative;
  opacity: 20%;
}

.container5{
  width: 100%;
  max-width: 82.5em;
  height: 8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0em;
  font-size: clamp(0.8em, 1em + 1vw, 1.7em);
}

.container6{
  width: 100%;
  max-width: 82.5em;
  height: 40em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.container6 h6{
  font-size: clamp(0.8em, 1em + 1vw, 1.7em);
}

.container6 .inner{
  display: flex;
  width: 100%;
  height: 80%;
  justify-content: space-between;
}

.container6 .divImg{
  display: flex;
  position: relative;
  width: 50%;
  max-width: 25em;
  height: 100%;
  max-height: 35em;
  align-items: center;
  justify-content: center;
}

.container6 .ImgD{
  position: relative;
  width: fit-content;
  height: 100%;
  border-radius: 0.5em;
}

.container6 .inner .text{
  display: flex;
  width: 60%;
  flex-direction: column;
  gap: 1em;
  font-weight: 500;
  text-align: justify;
  justify-content: center;

}

.container6 .inner .text .insta{
  font-weight: 600;
}

.container7{
  width: 100%;
  max-width: 82.5em;
  height: 40em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.footer{
  width: 100%;
  max-width: 82.5em;
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}