
.header{
    display: flex;
    width: 100vw;
    max-width: 100vw;
    height: 10em;
    align-items: center;
    justify-content: space-between;
    padding: 0em 20em;
    margin-bottom: 1em;
    border-bottom: solid #D1B37A 0.2em;
  }
  
  .divLogo{
    position: relative;
    width: 100%;
    max-width: 8.4em;
    height: 100%;
    max-height: 8.4em;
  }

@media (max-width: 1440px){
  .header{
    padding: 0em 5em;
  }
  
  .divLogo{
    max-width: 5em;
    max-height: 5em;
  }
  
}

@media (max-width: 425px){
  .header{
    padding: 0em 2em;
  }
  
  .divLogo{
    max-width: 5em;
    max-height: 5em;
  }
  
}