
.header{
    display: flex;
    width: 100%;
    max-width: 82.5em;
    height: 15em;
    align-items: center;
    justify-content: space-between;
  }
  
  .divLogo{
    position: relative;
    width: 100%;
    max-width: 9.375em;
    height: 100%;
  }