.carousel{
    width: 300px;
    height: 300px;
    overflow: hidden;
    cursor: grab;
    position: relative;
}

.inner{
    display: flex;
    width: 300px;
    height: 300px;
}

.item{
    position: absolute;
    width: 100%;
}

.Imagem{
    border: solid #D1B37A 0.2em;
    border-radius: 1em;
    pointer-events: none;
}